nav { 
  background-color: #464066; /*-- nav background --*/
  padding: 1rem 2rem; /*-- inside padding --*/
  display: flex; /*-- nav is a flex container --*/
  min-height: 6rem; /*-- nav has a minimum height --*/
  justify-content: space-between; /*-- excess space is distributed between flex children along the main axis --*/
  align-items: center; /*-- flex children are centered on the cross axis  --*/
}
nav a { /*-- targets the nav links --*/
  padding-left: 1.5rem; /*-- keeps links separated --*/
  color: #c2bfbf; /*-- link color --*/
  font-weight: 500; /*-- heavier type weight --*/
  text-decoration: none; /*-- removes default link underline --*/
  transition: all .2s ease-in-out; /*-- gives a transition for hover effects --*/
}
nav a:hover { /*-- nav links on hover --*/
  color: #466aad; /*-- changes link color on hover --*/
}

/*-- not sure why its not showing up --*/
a.trigram { /*-- hamburger menu icon nav link --*/
  display: none; /*-- hidden by default --*/
  font-size: 3rem; /*-- makes it considerably larger --*/
  align-self: stretch; /*-- tells it to fill the cross axis when present --*/
}


main {
  padding: 1rem 2rem; /*-- adds inside space around the main content area --*/
}
.slideshow { /*-- replace these styles with your slideshow styles --*/
  display: flex; /*-- declares a flex container --*/
  justify-content: center; /*-- center in the main axis --*/
  align-items: center; /*-- center in the cross axis --*/
  height: 55rem; /*-- fixed hieght, probably delete this --*/
  
  border-radius: 8px; /*-- rounded corners --*/
  background-color: #c2bfbf; /*-- a bit of light background color --*/
  color: var(--dkmid); /*-- text color is mid --*/
  position: relative; /*-- allows explicit positioning for children --*/
}
.controls button { /*-- you'll probably replace all .controls styles with your own --*/
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  width: auto; /*-- matches width of parent --*/
  top: 40%; /*-- positions arrows from parent top --*/
  color: #201b3c; /*-- arrow color --*/
  background-color: transparent; /*-- hides button background --*/
  border: none; /*-- removes default button border --*/
  font-weight: 800; /*-- selects heavier font --*/
  font-size: 8rem; /*-- sets arrow font size --*/
  transition: 0.2s ease; /*-- sets transition speed for arrow hover--*/
}
.controls button:hover {
  color: #466aad; /*-- changes button color on hover --*/
}
.controls button:nth-child(1) {
  left: 1rem; /*-- positions first arrow to the left --*/
}
.controls button:nth-child(2) {
  right: 1rem; /*-- positions second arrow to the right --*/
}




.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}

@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1440px) { /*-- at the largest sizes, there are four equal columns --*/
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}



.card { /*-- selects .card elements --*/
  padding: 2%; /*-- a little bit of flexible space inside the card --*/
  display: flex; /*-- card is a flex container --*/
  flex-direction: column; /*-- flow is downward --*/
  border-radius: 8px; /*-- curved edges --*/
  border: 2px dashed var(--dkmid); /*-- dashed border --*/
  background-color: #5e5f63; /*-- a little bit of light color --*/
}







footer { 
  margin-top: 2rem; /*-- adds space above --*/
  background-color: #464066; /*-- light mid color --*/
  padding: 1rem 2rem; /*-- inside space to match the nav --*/
  display: flex; /*-- might as well --*/
  height: 6rem; /*-- fixed height  --*/
  justify-content: space-between; /*-- horizontal center --*/
  align-items: center; /*-- vertical center --*/
}
footer p { /*-- targets the footer text --*/
  width: 100%; /*-- p elements are full width of the container --*/
  text-align: center; /*-- centers the text --*/
  font-weight: 500; /*-- mid-weight font --*/
}