nav { 
  background-color: #464066; 
  padding: 1rem 2rem; /*-- inside padding --*/
  display: flex; /*-- nav is a flex container --*/
  min-height: 6rem; 
  
  align-items: center; 
  z-index: 2;
}
nav a { 
  font-family: 'Mukta', sans-serif;
  font-size: 25px;
  padding-left: 2rem; 
  color: #c2bfbf; 
  
  text-decoration: none; 
  transition: all .2s ease-in-out; 
  justify-content: flex-end;
}
nav a:hover { 
  color: #466aad;
}

nav img {
  z-index: 1;
  height: 150px;
  width: 200px;
  margin-right: auto;
}




a#trigram { 
  display: none; 
  font-size: 3rem; 
  align-self: stretch; /*-- tells it to fill the cross axis when present --*/

margin-top: 40px;

}

@media screen and (max-width: 768px) {
  a.nav-link {
    display: none;
  }
  a#trigram {
    display: inherit;
  }
}



main {
  padding: 1rem 1rem; /*-- adds inside space around the main content area --*/
}

.slideshow { /*-- replace these styles with your slideshow styles --*/
  display: flex; /*-- declares a flex container --*/
  justify-content: center; /*-- center in the main axis --*/
  align-items: center; /*-- center in the cross axis --*/
  height: 40rem; 
  
  border-radius: 8px; /*-- rounded corners --*/
  background-color: #c2bfbf; /*-- a bit of light background color --*/
  position: relative; /*-- allows explicit positioning for children --*/
  overflow-x: hidden;
}

.slides img {
  display: flex; /*-- declares a flex container --*/
  justify-content: center; /*-- center in the main axis --*/
  align-items: center; /*-- center in the cross axis --*/
  height: 40rem; 
  width: auto;
 
  border-radius: 8px; /*-- rounded corners --*/
  position: relative; /*-- allows explicit positioning for children --*/
}



.controls button { /*-- you'll probably replace all .controls styles with your own --*/
  cursor: pointer; /*-- changes hover cursor to the hand --*/
  position: absolute; /*-- positions arrows absolutely--*/
  width: auto; /*-- matches width of parent --*/
  top: 40%; /*-- positions arrows from parent top --*/
  color: #201b3c; /*-- arrow color --*/
  background-color: transparent; /*-- hides button background --*/
  border: none; /*-- removes default button border --*/
  font-weight: 800; /*-- selects heavier font --*/
  font-size: 8rem; /*-- sets arrow font size --*/
  transition: 0.2s ease; /*-- sets transition speed for arrow hover--*/
}
.controls button:hover {
  color: #466aad; 
}
.controls button:nth-child(1) {
  left: 1rem; 
}
.controls button:nth-child(2) {
  right: 1rem; 
}


.grid-cont { /*-- styles the main grid container for media cards --*/
  padding: 2rem 0; /*-- top and bottom padding for the grid container --*/
  display: grid; /*-- declares this a grid container --*/
  grid-gap: 2rem; /*-- 2rem top, right, bottom, and left gaps between items --*/
  grid-template-columns: 1fr; /*-- by default, there is 1 column that's 1fr wide --*/
}

@media screen and (min-width: 550px) { /*-- at slightly larger size, there are two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) { /*-- still two equal columns --*/
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 1280px) { /*-- next size up, there are three equal columns --*/
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}






.card { /*-- selects .card elements --*/
  padding: 1%; /*-- a little bit of flexible space inside the card --*/
  display: flex; 
  flex-direction: column; 
  border-radius: 15px; 
  background-color: #575151; 
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
}
.card:hover {
  box-shadow: 0 3px 30px rgba(0,0,0,.5);
}


.header_img {
  position: relative;
}
.header_img  img {
  border-radius: 15px 15px 0px 0px;
  z-index: 3;
  height: 100%;
  width: 100%;
}
.header_img  button {
  background-color: rgba(0,0,0,0.5);
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  z-index: 5;
  clip-path:circle(45%);
}
.header_img  button:hover {
  background-color: rgba(207, 205, 205, 0.5);
}
.header_img .material-symbols-outlined {
  font-size: 5rem;
  font-variation-settings: 'wght' 400;
}



.card-text {

  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Nunito', sans-serif;

  justify-content: space-between;

  font-size: 25px;
  color: #dedcdc;

  text-align: right;

margin-right: 10px;

  overflow: hidden;
  word-wrap: break-word;

}


/* fix this so that its just the button and not the background*/
.buttons {
  justify-content: space-between;

  top: 50%;
  left: 50%;
  transform: translate(3%, -300%);
}
.buttons :last-child {
  margin-left: auto;
}


.stats {
  font-family: 'Mukta', sans-serif;
  font-family: 'Nunito', sans-serif;
  justify-content: space-between;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -50px;

}
.stats > *:not(:nth-child(2)) {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}



.tags {
  font-family: 'Mukta', sans-serif;
  font-family: 'Nunito', sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

}




footer { 
  margin-top: 2rem; /*-- adds space above --*/
  background-color: #464066; /*-- light mid color --*/
  padding: 1rem 2rem; /*-- inside space to match the nav --*/
  display: flex; /*-- might as well --*/
  height: 4rem; /*-- fixed height  --*/
  justify-content: space-between; /*-- horizontal center --*/
  align-items: center; /*-- vertical center --*/
}
footer p { /*-- targets the footer text --*/
  width: 100%; /*-- p elements are full width of the container --*/
  text-align: center; /*-- centers the text --*/
  font-weight: 500; /*-- mid-weight font --*/
}